.appbar-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    color: var(--text-primary-color);
}

.appbar-text {
    font-size: 2.5rem;
    font-weight: 700;
}

.section-name {
    text-align: center;
    font-size: 4rem;
    color: var(--text-primary-color);
    padding: 3rem 0;
    background-color: var(--secondary-color);
}
