.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: 20vh;
}

.header-principal {
  font-size: 50px;
  color: var(--text-primary-color);
  font-weight: 700;
}

.header-secondary {
  color: var(--text-secondary-color);
}

.welcome-content {
  display: grid;
  align-content: space-between;
  text-align: center;
  height: 80vh;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
}

.content-title {
  font-size: 30px;
  color: var(--text-primary-color);
  font-weight: 700;
}

.content-button {
  background-color: transparent;
  color: var(--text-primary-color);
  border: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;

  &:hover {
    color: var(--tertiary-color);
    transform: scale(1.1);
  }
}
