.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  height: 100vh;
}

.welcome-image {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  margin: 0 auto;
}

.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary-color);
  background-color: var(--secondary-color);
  height: 20vh;
  font-size: 34px;
}

.content-button {
  background-color: transparent;
  color: var(--text-primary-color);
  border: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;

  &:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
  }
}

.upper-side{
  display: flex;
  flex-direction: column;
}

.bottom-side {
  padding: 50px 0 50px 0;
}
